.wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10vh;
    background-color: #2c2c2d;
    z-index: -1;
    width: 100%;

    h1,
    h2 {
        font-family: "Open Sans", sans-serif;
        color: #dcdcdc;
        letter-spacing: 4px;
        margin-top: 4vh;
        font-weight: lighter;
    }

    .popular-films {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        min-height: 62.6vh;

        .films-block {
            width: 16.2vw;
            height: 70vh;
            margin: 1vw;
            text-decoration: none;
            color: black;
            border: blanchedalmond solid 1px;
            border-radius: 0 0 5% 5%;
            background-color: #4e4e4e;


            &:hover {
                -webkit-transform: scale(1.05);
                transform: scale(1.05);
            }

            img,
            .film-post {
                width: inherit;
                height: 50vh;
            }

            .under-post-block {
                height: 19.5vh;
                position: relative;

                h4 {
                    text-shadow: white 0.5px 0 3px;
                    margin-top: 0;
                }
                .genre-block {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;

                    .genre-span {
                        margin: 0 3px 5px 8px;
                        border: solid 1px darkgray;
                        background-color: silver;
                    }
                }

                .star {
                    position: absolute;
                    bottom: 1vh;
                    right: 0.7vw;
                    width: 20px;
                    height: 20px;
                    background: linear-gradient(to bottom, rgba(197, 196, 196, 1) 0%, rgba(180, 179, 178, 1) 100%);
                    cursor: pointer;
                    clip-path: polygon(
                        50% 0%,
                        66% 27%,
                        98% 35%,
                        76% 57%,
                        79% 91%,
                        50% 78%,
                        21% 91%,
                        24% 57%,
                        2% 35%,
                        32% 27%
                    );
                }
                .add {
                    background: linear-gradient(to bottom, yellow 0%, red 100%);
                }
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .wrapper {
        .popular-films {
            .films-block {
                width: 29vw;
                height: 55vh;
                overflow: scroll;

                img,
                .film-post {
                    height: 30vh;
                }

                .under-post-block {
                    h4 {
                        margin: 2vh 0;
                    }
                    .genre-block {
                        .genre-span {
                            font-size: 12px;
                            margin: 0 3px 5px 8px;
                        }
                    }

                    .star {
                        bottom: 47vh;
                        right: 0.3vw;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .wrapper {
        .popular-films {
            .films-block {
                width: 29vw;
                height: 55vh;
                overflow: scroll;

                img,
                .film-post {
                    height: 36vh;
                }

                .under-post-block {
                    h4 {
                        margin: 2vh 0;
                    }
                    .genre-block {
                        .genre-span {
                            font-size: 14px;
                            margin: 0 3px 5px 8px;
                        }
                    }

                    .star {
                        bottom: 53vh;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .wrapper {
        .popular-films {
            .films-block {
                width: 21vw;
                overflow: scroll;

                img,
                .film-post {
                    height: 45vh;
                }

                .under-post-block {
                    h4 {
                        font-size: 18px;
                        margin: 2vh 0;
                    }
                    .star {
                        bottom: 62vh;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 993px) and (max-width: 1110px) {
    .wrapper {
        .popular-films {
            .films-block {
                width: 21vw;
                overflow: hidden;
                
                .under-post-block {
                    h4 {
                        font-size: 18px;
                        margin: 2vh 0;
                    }
                    .star {
                        bottom: 67vh;
                    }
                }
            }
        }
    }
}