.wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60vh;
    background-color: #F6FFF8;
    z-index: -1;
    width: 100%;

    h1,
    h2 {
        font-family: "Open Sans", sans-serif;
        color: black;
        letter-spacing: 4px;
        margin-top: 4vh;
        font-weight: 600;
        font-size: 30px;
    }

    .popular-films {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        min-height: 62.6vh;

        .films-block {
            width: 18vw;
            height: 70vh;
            margin: 1vw 1.5vw;
            border: blanchedalmond solid 1px;
            background-color: #f0f8ff;
            overflow: hidden;

            &:hover {
                -webkit-transform: scale(1.05);
                transform: scale(1.05);
            }

            img,
            .film-post {
                width: inherit;
                height: 50vh;

                .info-hover-block {
                    display: none;
                }
                &:hover {
                    .info-hover-block {
                        display: block;
                        width: 18vw;
                        height: 50vh;
                        background-color: rgba(0, 0, 0, 0.9);
                        position: absolute;

                        .wrapper-discription {
                            height: 100%;
                            color: white;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            text-align: start;
                            padding: 5px;
                            
                            span{
                                font-style: italic;
                                color: #cccc00;
                            }

                            .shot-overview {
                                -webkit-line-clamp: 8;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                            }
                            .release-vote {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                            }
                        }
                    }
                }
            }

            .under-post-block {
                height: 19.5vh;
                position: relative;
                padding: 10px 20px;
                text-align: start;

                .linkMovieTitle {
                    text-decoration: none;
                    color: grey;

                    h3 {
                        margin: 0 0 10px 0;
                        -webkit-line-clamp: 2;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        overflow: hidden;

                        &:hover {
                            color: #a51b0b;
                        }
                    }
                }
                .genre-block {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;

                    .genre-span {
                        color: black;
                        margin: 0 5px 5px 0;
                        font-weight: 500;
                        font-size: 14px;
                    }
                }

                .star {
                    position: absolute;
                    bottom: 4vh;
                    right: 0.7vw;
                    width: 20px;
                    height: 20px;
                    background: linear-gradient(to bottom, rgba(197, 196, 196, 1) 0%, rgba(180, 179, 178, 1) 100%);
                    cursor: pointer;
                    clip-path: polygon(
                        50% 0%,
                        66% 27%,
                        98% 35%,
                        76% 57%,
                        79% 91%,
                        50% 78%,
                        21% 91%,
                        24% 57%,
                        2% 35%,
                        32% 27%
                    );
                }
                .add {
                    background: linear-gradient(to bottom, yellow 0%, red 100%);
                }
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .wrapper {
        .popular-films {
            .films-block {
                width: 29vw;
                height: 55vh;
                overflow: scroll;

                img,
                .film-post {
                    height: 30vh;
                }

                .under-post-block {
                    h4 {
                        margin: 2vh 0;
                    }
                    .genre-block {
                        .genre-span {
                            font-size: 12px;
                            margin: 0 3px 5px 8px;
                        }
                    }

                    .star {
                        bottom: 47vh;
                        right: 0.3vw;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .wrapper {
        .popular-films {
            .films-block {
                width: 20vw;
                height: 55vh;
                overflow: scroll;

                img,
                .film-post {
                    height: 36vh;
                }

                .under-post-block {
                    h4 {
                        margin: 2vh 0;
                    }
                    .genre-block {
                        .genre-span {
                            font-size: 14px;
                            margin: 0 3px 5px 8px;
                        }
                    }

                    .star {
                        bottom: 53vh;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .wrapper {
        .popular-films {
            .films-block {
                width: 22vw;
                height: 60vh;
                overflow: scroll;

                img,
                .film-post {
                    height: 40vh;
                }

                .under-post-block {
                    h4 {
                        font-size: 18px;
                        margin: 2vh 0;
                    }
                    .star {
                        bottom: 62vh;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 993px) and (max-width: 1110px) {
    .wrapper {
        .popular-films {
            .films-block {
                width: 19.5vw;
                height: 60vh;
                overflow: hidden;

                img,
                .film-post {
                    height: 40vh;
                }

                .under-post-block {
                    h4 {
                        font-size: 18px;
                        margin: 2vh 0;
                    }
                    .star {
                        bottom: 58vh;
                    }
                }
            }
        }
    }
}
