.aLink {
    text-decoration:none;
    text-align: center;
    
    .footer {
        background-color: white;
        height: 55px;

        p {
            border-top: thick double #dcdcdc;
            padding: 13px;
            color: silver;
            font-weight: bold;
        }
    }
}
