.menu-list {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 30vh;
    left: 0;
    width: 100%;
    justify-content: center;
    transition: all 0.5s ease;
    text-align: center;

    ul {
        padding: 0;
        margin: 0;
    }
    a,
    .contact-us {
        text-decoration: none;
        color: white;
        margin-right: 7vw;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;

        &:hover {
            color: #e41a1a;
        }
    }
}

.without-menu {
    position: absolute;
    left: -1000px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .menu-list {
        a,
        .contact-us {
            font-size: 4vw;
        }
    }
}
