.header {
    height: 60vh;
    width: 100%;
    text-align: center;
    background-image: url(../../icons/photo_2022-01-25_20-07-11.jpg);
    background-repeat: repeat-y;
    animation: header-animation 300s linear infinite;
    position: relative;

    @keyframes header-animation {
        from {
            background-position: 0 0;
        }

        to {
            background-position: 0 -3000px;
        }
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        background-color: transparent;
        background-image: radial-gradient(circle at top center, rgba(17, 17, 17, 0) 10%, rgba(17, 17, 17, 0.7) 70%);
    }

    .header-elements {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        z-index: 2;
        width: 100%;

        h1 {
            margin-top: 1.5vh;
            margin-left: 2vw;

            .title-word1 {
                color: white;
            }
            .title-word2 {
                color: #e41a1a;
            }
        }

        .users-actions-div {
            display: flex;
            flex-direction: row;
            margin: 2.5px 3vw 0 0;

            h4 {
                cursor: pointer;
                margin-right: 1vw;
                margin-top: 2vh;

                span {
                    font-weight: normal;

                    .span-signIn {
                        margin-left: 5px;
                        color: #3a1cff;
                        font-size: 16px;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                p {
                    margin: 0;
                    padding: 2px 10px;
                    background-color: whitesmoke;
                    color: silver;
                    font-weight: bold;
                    border-radius: 10%;
                    opacity: 0.8;

                    img {
                        margin-top: 2px;
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }
    .header-line {
        position: absolute;
        top: 15vh;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: white;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header {
        h1 {
            font-size: 30px;
        }

        .users-actions-div {
            flex-direction: column;
            margin-right: 1vw;

            h4 {
                height: 10px;
                font-size: 10px;
                margin: 6px 0 0 0;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .header {
        h1 {
            margin-top: 0.5vh;
            font-size: 4vw;
        }

        .users-actions-div {
            margin-top: 1vh;
            flex-direction: column;
            margin-right: 2vw;

            h4 {
                height: 22px;
                font-size: 12px;
                margin: 2px 8px 0 0;
            }
        }
    }
}

@media screen and (min-width: 993px) and (max-width: 1073px) {
    .header {
        h1 {
            margin-top: 0px;
            font-size: 25px;
        }
    }
}

@media screen and (min-width: 1074px) and (max-width: 1110px) {
    .header {
        h1 {
            margin-top: 15px;
            font-size: 25px;
        }
    }
}

@media screen and (min-width: 1111px) and (max-width: 1130px) {
    .header {
        h1 {
            margin-top: 10px;
            font-size: 30px;
        }
    }
}
