.favorite {
    color: blanchedalmond;
    text-align: center;
    
    .main-favorite-block{
        min-height: 90vh;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .favorite {
        .main-favorite-block{
            min-height: 83.3vh;
        }
    }
}
