.not-active {
    position: absolute;
    left: -100000px;
}
.active-class {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
}
.modal-wrapper-div {
    position: relative;
    margin: 20vh auto;
    display: flex;
    justify-content: center;

    .register-span {
        position: absolute;
        bottom: 0;
        left: auto;
        color: #fff;
        padding: 0 0 5px 0;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        width: 520px;
        padding: 30px 30px 15px 30px;
        border: 1px solid rgba(120, 120, 120, 0.7);
        border-radius: 5px;
        background: rgba(60, 63, 65, 0.9);
        opacity: 1;
        color: #fff;

        h2 {
            font-family: "Open Sans", sans-serif;
            color: #dcdcdc;
            letter-spacing: 4px;
            margin-top: 0;
            font-weight: lighter;
        }

        textarea,
        input {
            width: 470px;
            margin: 0 0 20px 0;
            display: block;
            padding-right: 20px;
            padding-left: 20px;
            border-radius: 4px;
            font-weight: 300;
            font-size: 18px;
            font-family: "Open Sans", sans-serif;
            background: rgba(255, 255, 255, 0.4);

            &::-webkit-input-placeholder {
                color: white;
                font-weight: lighter;
            }
        }

        textarea {
            overflow: hidden;
            height: 110px;
            border: 1px solid rgba(255, 255, 255, 0.6);
        }

        input {
            height: 48px;
            border: 1px solid rgba(255, 255, 255, 0.4);
        }

        input:focus,
        textarea:focus {
            background-color: rgba(0, 0, 0, 0.2);
            font-weight: bold;
            color: white;
            box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
            overflow: hidden;
        }

        .btn {
            cursor: pointer;
            border: 1px solid #253737;
            background: #416b68;
            border-radius: 6px;
            box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, inset rgba(255, 255, 255, 0.7) 0 1px 0;
            outline: none;

            &:active {
                margin-top: 1px;
                border: 1px solid #333333;
                background: #ffcc00;
                box-shadow: rgba(255, 255, 255, 0) 0 1px 0, inset rgba(255, 255, 255, 0.7) 0 1px 0;
                color: black;
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    form {
        overflow: scroll;
        width: 150px;
        height: 200px;
        padding: 14px 30px 6px 30px;

        textarea {
            min-height: 70px;
            width: 150px;
            font-size: 14px;
        }

        input {
            width: 150px;
            min-height: 20px;
            font-size: 14px;
        }

        input:focus,
        textarea:focus {
            min-height: 20px;
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    form {
        width: 300px;
        padding: 14px 30px 6px 30px;

        textarea {
            min-height: 70px;
        }

        input,
        textarea {
            width: 260px;
            font-size: 16px;
        }
    }
}
